{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=wTOER6iuW4mK6RNe79CESqID0LKkMuon&location=abcdj",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14907"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14907"
          ],
          "Ratelimit-Reset": [
            "2190761"
          ],
          "X-Transaction-Count": [
            "all=1,geocoding=1"
          ],
          "Etag": [
            "W/\"f43-jwt08YARdvXF7tIoNgVAlgcuFZY\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2022 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2022 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"abcdj\"},\"locations\":[{\"street\":\"abcd\",\"adminArea6\":\"Hadapsar\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Pune\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Pune\",\"adminArea4Type\":\"County\",\"adminArea3\":\"MH\",\"adminArea3Type\":\"State\",\"adminArea1\":\"IN\",\"adminArea1Type\":\"Country\",\"postalCode\":\"411028\",\"geocodeQualityCode\":\"B1BAA\",\"geocodeQuality\":\"STREET\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":18.47614,\"lng\":73.93195},\"displayLatLng\":{\"lat\":18.47614,\"lng\":73.93195},\"mapUrl\":\"\"},{\"street\":\"Vila Abcd\",\"adminArea6\":\"Marco\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Belém\",\"adminArea5Type\":\"City\",\"adminArea4\":\"\",\"adminArea4Type\":\"County\",\"adminArea3\":\"PA\",\"adminArea3Type\":\"State\",\"adminArea1\":\"BR\",\"adminArea1Type\":\"Country\",\"postalCode\":\"66095-750\",\"geocodeQualityCode\":\"B1CAA\",\"geocodeQuality\":\"STREET\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":[...]
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&hour=0-24&key=c799eea6f4934b11b4f150934232204&q=18.47614,73.93195",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.03"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "04/24/2023 17:27:19"
          ],
          "Cdn-Edgestorageid": [
            "954"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "c90f029e0967f4a4f929c72e057d82c6"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Pune\",\"region\":\"Maharashtra\",\"country\":\"India\",\"lat\":18.48,\"lon\":73.93,\"tz_id\":\"Asia/Kolkata\",\"localtime_epoch\":1682357239,\"localtime\":\"2023-04-24 22:57\"},\"current\":{\"last_updated_epoch\":1682356500,\"last_updated\":\"2023-04-24 22:45\",\"temp_c\":27.7,\"temp_f\":81.9,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":7.4,\"wind_kph\":11.9,\"wind_degree\":259,\"wind_dir\":\"W\",\"pressure_mb\":1010.0,\"pressure_in\":29.82,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":46,\"cloud\":8,\"feelslike_c\":28.0,\"feelslike_f\":82.4,\"vis_km\":10.0,\"vis_miles\":6.0,\"uv\":1.0,\"gust_mph\":9.4,\"gust_kph\":15.1},\"forecast\":{\"forecastday\":[{\"date\":\"2023-04-24\",\"date_epoch\":1682294400,\"day\":{\"maxtemp_c\":39.2,\"maxtemp_f\":102.6,\"mintemp_c\":23.9,\"mintemp_f\":75.0,\"avgtemp_c\":30.6,\"avgtemp_f\":87.1,\"maxwind_mph\":10.1,\"maxwind_kph\":16.2,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":33.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":8.0},\"astro\":{\"sunrise\":\"06:12 AM\",\"sunset\":\"06:54 PM\",\"moonrise\":\"09:12 AM\",\"moonset\":\"11:01 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":\"16\"},\"hour\":[{\"time_epoch\":1682274600,\"time\":\"2023-04-24 00:00\",\"temp_c\":25.8,\"temp_f\":78.4,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":4.9,\"wind_kph\":7.9,\"wind_degree\":293,\"wind_dir\":\"WNW\",\"pressure_mb\":1008.0,\"pressure_in\":29.78,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":52,\"cloud\":5,\"feelslike_c\":26.6,\"feelslike_f\":79.9,\"windchill_c\":25.8,\"windchill_f\":78.4,\"heatindex_c\":26.6,\"heatindex_f\":79.9,\"dewpoint_c\":15.2,\"dewpoint_f\":59.4,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":6.5,\"gust_kph\":10.4,\"uv\":1.0},{\"time_epoch\":1682278200,\"time\":\"2023-04-24 01:00\",\"temp_c\":25.4,\"temp_f\":77.7,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":4.0,\"wind_kph\":6.5,\"wind_degree\":289,\"wind_dir\":\"WNW\",\"pressure_mb\":1008.0,\"pressure_in\":29.77,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":51,\"cloud\":8,\"feelslike_c\":26.2[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.teleport.org/api/urban_areas/slug:abcdj/salaries/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"status\": 404, \"message\": \"Not Found. You have requested this URI [/api/public_api/urban_areas/slug:abcdj/salaries/] but did you mean /api/public_api/urban_areas/<regex(\\\"slug\\\\:[0-9a-z-]+\\\"):urban_area_id>/salaries/ or /api/public_api/urban_areas/teleport:<regex(\\\"[0-9a-z]{5}\\\"):urban_area_id>/salaries/ or /api/public_api/urban_areas/<regex(\\\"slug\\\\:[0-9a-z-]+\\\"):urban_area_id>/scores/ ?\"}"
        }
      },
      "recorded_at": "Mon, 24 Apr 2023 17:27:20 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}