{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.teleport.org/api/urban_areas/slug:las-vegas/salaries/",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Apiproxy-Cache-Status": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"_links\":{\"curies\":[{\"href\":\"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/\",\"name\":\"location\",\"templated\":true},{\"href\":\"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/\",\"name\":\"city\",\"templated\":true},{\"href\":\"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/\",\"name\":\"ua\",\"templated\":true},{\"href\":\"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/\",\"name\":\"country\",\"templated\":true},{\"href\":\"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/\",\"name\":\"a1\",\"templated\":true},{\"href\":\"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/\",\"name\":\"tz\",\"templated\":true}],\"self\":{\"href\":\"https://api.teleport.org/api/urban_areas/slug:las-vegas/salaries/\"}},\"salaries\":[{\"job\":{\"id\":\"ACCOUNT-MANAGER\",\"title\":\"Account Manager\"},\"salary_percentiles\":{\"percentile_25\":43474.477094547474,\"percentile_50\":54430.58365157793,\"percentile_75\":68147.76472660554}},{\"job\":{\"id\":\"ACCOUNTANT\",\"title\":\"Accountant\"},\"salary_percentiles\":{\"percentile_25\":46785.6841886668,\"percentile_50\":55563.23217635986,\"percentile_75\":65987.552034815}},{\"job\":{\"id\":\"ADMINISTRATIVE-ASSISTANT\",\"title\":\"Administrative Assistant\"},\"salary_percentiles\":{\"percentile_25\":27023.312887194927,\"percentile_50\":32544.13271130365,\"percentile_75\":39192.84724090256}},{\"job\":{\"id\":\"ARCHITECT\",\"title\":\"Architect\"},\"salary_perce[...]
