{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v1/route?from=las%20vegas,%20nv&key=wTOER6iuW4mK6RNe79CESqID0LKkMuon&to=denver,%20co",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14893"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14893"
          ],
          "Ratelimit-Reset": [
            "2184049"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"470b-YY/atYx+BpaKAYtvwuJPfFdnCdo\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AK0A5wcAAG4AAAAIAAAAFQAAAPQAAAB42mP4wsDAyMTAwMCekVqUapWc-1UyUBrIZbjWNMGNa26avJ7csx2RE4E0F5BmwAJgGkU5jcEaFUy272CwOhlmuqnIKQZEbwbSDDhA9mSP2XXMQMYmVocpDgwOHAwMC3AoBTmSgQNZBMphEmgAUTw8UD7QGKCUgoACI4OCAgNDgwJYL1ANBxOjoxADV6OAIgMA7koivD9ub50:car\",\"realTime\":38571,\"distance\":747.7028,\"time\":37979,\"formattedTime\":\"10:32:59\",\"hasHighway\":true,\"hasTollRoad\":false,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":true,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":false,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":true,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":747.7028,\"time\":38571,\"formattedTime\":\"10:42:51\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.0186,\"narrative\":\"Head toward N 4th St on Stewart Ave. Go for 98 ft.\",\"time\":8,\"direction\":7,\"directionName\":\"West\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:08\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":36.171928,\"lng\":-115.140011},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"Stewart Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=wTOER6iuW4mK6RNe79CESqID0LKkMuon&size=225,160&locations=36.171928,-115.140011|marker-1||36.17205,-115.14031|marker-2||&center=36.171988999999996,-115.14016050000001&defaultMarker=none&zoom=16&session=AK0A5wcAAG4AAAAIAAAAFQAAAPQAAAB42mP4wsDAyMTAwMCekVqUapWc-1UyUBrIZbjWNMGNa26avJ7csx2RE4E0F5BmwAJgGkU5jcEaFUy272CwOhlmuqnIKQZEbwbSDDhA9mSP2XXMQMYmVocpDgwOHAwMC3AoBTmSgQNZBMphEmgAUTw8UD7QGKCUgoACI4OCAgNDgwJYL1ANBxOjoxADV6OAIgMA7koivD9ub50:car\"},{\"ind[...]
