{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v1/route?from=new%20york,ny&key=wTOER6iuW4mK6RNe79CESqID0LKkMuon&to=london,uk",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "15000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "14752"
          ],
          "Ratelimit-Limit": [
            "15000"
          ],
          "Ratelimit-Remaining": [
            "14752"
          ],
          "Ratelimit-Reset": [
            "2159912"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"116-X78qyaDM1nc+nT5zcf5LS9dqzT4\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":2,\"message\":\"\"}},\"info\":{\"statuscode\":402,\"copyright\":{\"text\":\"© 2022 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2022 MapQuest, Inc.\"},\"messages\":[\"We are unable to route with the given locations.\"]}}"
        }
      },
      "recorded_at": "Tue, 25 Apr 2023 02:01:29 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}