{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&hour=0-24&key=c799eea6f4934b11b4f150934232204&q=36.17193,-115.14001",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "Cdn-Proxyver": [
            "1.03"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "04/22/2023 21:36:42"
          ],
          "Cdn-Edgestorageid": [
            "993"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "ddb8d039e20bdbdd9b7719620292f70d"
          ],
          "Cdn-Cache": [
            "EXPIRED"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Las Vegas\",\"region\":\"Nevada\",\"country\":\"United States of America\",\"lat\":36.17,\"lon\":-115.14,\"tz_id\":\"America/Los_Angeles\",\"localtime_epoch\":1682199402,\"localtime\":\"2023-04-22 14:36\"},\"current\":{\"last_updated_epoch\":1682199000,\"last_updated\":\"2023-04-22 14:30\",\"temp_c\":26.7,\"temp_f\":80.1,\"is_day\":1,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"wind_mph\":9.4,\"wind_kph\":15.1,\"wind_degree\":140,\"wind_dir\":\"SE\",\"pressure_mb\":1013.0,\"pressure_in\":29.92,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":15,\"cloud\":0,\"feelslike_c\":25.0,\"feelslike_f\":77.0,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":7.0,\"gust_mph\":10.1,\"gust_kph\":16.2},\"forecast\":{\"forecastday\":[{\"date\":\"2023-04-22\",\"date_epoch\":1682121600,\"day\":{\"maxtemp_c\":29.5,\"maxtemp_f\":85.1,\"mintemp_c\":15.1,\"mintemp_f\":59.2,\"avgtemp_c\":22.1,\"avgtemp_f\":71.7,\"maxwind_mph\":11.2,\"maxwind_kph\":18.0,\"totalprecip_mm\":0.0,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":23.0,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\",\"code\":1000},\"uv\":6.0},\"astro\":{\"sunrise\":\"05:58 AM\",\"sunset\":\"07:21 PM\",\"moonrise\":\"07:26 AM\",\"moonset\":\"10:29 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":\"4\",\"is_moon_up\":1,\"is_sun_up\":1},\"hour\":[{\"time_epoch\":1682146800,\"time\":\"2023-04-22 00:00\",\"temp_c\":20.5,\"temp_f\":68.9,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":8.1,\"wind_kph\":13.0,\"wind_degree\":6,\"wind_dir\":\"N\",\"pressure_mb\":1014.0,\"pressure_in\":29.93,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":26,\"cloud\":6,\"feelslike_c\":20.5,\"feelslike_f\":68.9,\"windchill_c\":20.5,\"windchill_f\":68.9,\"heatindex_c\":20.5,\"heatindex_f\":68.9,\"dewpoint_c\":0.6,\"dewpoint_f\":33.1,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":14.5,\"gust_kph\":23.4,\"uv\":1.0},{\"time_epoch\":1682150400,\"time\":\"2023-04-22 01:00\",\"temp_c\":18.8,\"temp_f\":65.8,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":5.8,\"wind_kph\":9.4,\"wind_degree\":358,\"wind_dir\":\"N\",\"pressure_mb\":1014.0,\"pressure_in\":29.94,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":29,\"cloud\":9,\"feelslike_c\":18.8,[...]
